body {
  font-family: $mainFontFamily;
  color: $textColor;
  width: 100%;
  margin: 0;
}
body.modal-open {
  overflow: hidden;
}

body.menu-open {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}
