ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.header-nav__list,
.header-contact__list,
.features__list,
.work-list,
.user-list,
.btn-list {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
