.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid $iconColor;
    border-radius: 4px;
    fill: $iconColor;
    transition: fill $animation, border-color $animation;

    &:hover,
    &:focus {
      cursor: pointer;
      border-color: $accentColor;
      fill: $accentColor;
    }
  }
  &__item {
    @media screen and (max-width: 767px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
      flex-wrap: nowrap;
    }
  }
}
