.features__list {
  gap: 30px;
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  margin: 0 auto;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
      // min-width: 100%;
      max-width: 480px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__thumb {
  padding: 25px 0;
  display: flex;

  background-color: $btnColor;
  justify-content: center;
  margin-bottom: 30px;
}
.features__desc {
  font-size: $simpleFontSize;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $subTextColor;
}
.features__subtitle {
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
