.footer {
  background: $backgroundColor;
  padding: 60px 0;
  text-align: center;

  &-container {
    display: block;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__first-container {
    @media screen and (max-width: 480px) {
      margin-bottom: 60px;
    }
  }
  &__second-container {
    @media screen and (max-width: 480px) {
      margin-bottom: 60px;
    }
  }
  // &__third-container {
  // }
}
