.footer__field {
  text-align: center;
}

.footer__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteColor;
  margin-bottom: 20px;
}

.footer__input {
  background: transparent;
  border: $borderFooterInput;
  filter: $filterFooterInput;
  border-radius: 4px;
  width: 450px;
  outline: none;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $footerInput;
  transition: border-color $animation;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $footerInput;
  }

  &:focus-within {
    border-color: $accentColor;
  }
}
.footer__btn {
  @include button(28px);
  display: flex;
  align-items: center;
  margin: 20px auto 0;

  &:hover,
  &:focus {
    background-color: $accentHover;
    cursor: pointer;
  }
}

.footer__send-icon {
  margin-left: 10px;
}
