.form__terms {
  @include font(null, 12px, 1.71, 0.03em, $subTextColor);
  position: relative;
  display: flex;
  // justify-content: center;
  margin-left: 12px;
  align-items: center;
  margin-bottom: 30px;

  &--accent {
    color: $accentColor;
    text-decoration: underline;
  }
}

.form__checkbox {
  position: absolute;
  transition: border-color $animation;
}

.form__icon-check {
  margin-right: 8px;
  border: 2px solid $textColor;
  border-radius: 2px;
  transition: border $animation, background-color $animation, border-color $animation;

  .form__checkbox:checked + & {
    background-color: $accentColor;
    border-color: $accentColor;
  }
}

.form__btn-thumb {
  text-align: center;
}

.form__btn {
  @include button(52px);

  &:hover,
  &:focus {
    background: $accentHover;
    cursor: pointer;
  }
}
