.header-contact__list {
  display: flex;

  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    gap: 20px;
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    gap: 32px;

    .header-contact__item:nth-child(2) {
      font-size: 34px;
      color: $accentColor;

      @media screen and (max-width: 420px) {
        font-size: 28px;
      }
    }
  }
  .header-contact__item:nth-child(1) {
    font-size: 24px;

    @media screen and (max-width: 420px) {
      font-size: 20px;
    }

    .header-contact__item:not(:last-child) {
      @media screen and (min-width: 768px) {
        gap: 10px;
      }
    }
  }
  .header-contact__link {
    display: flex;
    align-items: center;
    transition: color $animation, fill $animation;
    @include font(500, $simpleFontSize, 1.14, 0.02em, $subTextColor);

    &:hover,
    &:focus {
      fill: $accentColor;
      color: $accentColor;
    }
    &--accent {
      @media screen and (max-width: 767px) {
        @include font(500, 34px, 1.17, 0.02em, $accentColor);
      }
    }
    .header-contact__icon {
      margin-right: 8px;
      fill: currentColor;
      transition: fill $animation, background-color $animation;

      &:hover,
      &:focus {
        fill: currentColor;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
