.header {
  border-bottom: 1px solid $headerBorder;
  width: 100vw;
  z-index: 1;
  background: $whiteColor;
  position: fixed;
  top: 0;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    max-width: 768px;
    min-width: 100%;
    height: 60px;
  }
}

.header_menu-button {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
