.header {
  border-bottom: 1px solid $headerBorder;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background: $whiteColor;
  top: 0;

  @media screen and (max-width: 767px) {
    height: 65px;
    padding: 10px 0;
  }
}
.header-wrap {
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    max-width: 768px;
    min-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.header_menu-button {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
