.logo {
  @include font(700, 26px, 28px, 0.03em, $blackColor);
  font-family: $logoFontFamily;
  padding-right: 0;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  &-footer {
    color: $whiteColor;
    margin-bottom: 20px;
    padding-bottom: 0;
    margin-right: 0;
    display: inline-block;
  }

  &--accent {
    color: $accentColor;
  }
}
