.menu-button {
  z-index: 1;
  background-color: transparent;
  border: none;
  fill: currentColor;
  transition: color $animation;
  padding: 0;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.menu-button__close {
  display: none;
}

.menu-button.is-open {
  & .menu-button__close {
    display: block;
  }
  & .menu-button__menu {
    display: none;
  }
}
