.menu {
  display: none;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: $whiteColor;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  @media screen and (max-width: 768px) {
    margin-bottom: auto;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}

.menu__contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
}

.menu__social.social {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.menu.is-open {
  @media screen and (max-width: 767px) {
    display: flex;
    padding: 48px 20px 24px 20px;
  }

  @media screen and (max-width: 767px) and (min-width: 420px) {
    padding: 48px 40px;
  }
}
