.header-nav__list {
  @media screen and (max-width: 480px) {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header-nav .header-nav__link--current::after {
    position: absolute;
    display: block;
    right: 0;
    bottom: -1px;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accentColor;
    animation-name: changeScale;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@keyframes changeScale {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
.header-nav__item {
  position: relative;
}

.header-nav__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $textColor;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $accentColor;
    cursor: pointer;
  }
  &--current {
    color: $accentColor;
  }
}
.header-nav__item:not(:last-child) {
  @media screen and (max-width: 480px) {
    margin-bottom: 32px;
  }
}
