.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio {
  animation-name: portfolio;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes portfolio {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
