.social-small__item {
  @include font(500, 18px, 1.22, 00.02em, $accentColor);

  &:not(:last-child) {
    padding-right: 10px;
    border-right: $borderFormInput;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.social-small {
  display: none;
  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 767px) and (max-width: 420px) {
    font-size: 12px;
  }
}
